#navbar{
    backround-color: beige;
    text-color: red;
}
#navbar.hover{
    text-color: blue;
}
h1{
    font-family:Nimbus Sans;
    color:red;
}
img{
    border: 3px black;
    float: right;
}
p{
    border: 3px red;
    margin: 4px;
}
a{
    color: red;
}
a.hover{
    color: blue;
}

